html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  display: flex;
  margin-top: 100px;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

#content2 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 100px;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

#success{
    display: block;
}
#one, #two, #three, #four, #five{
    display: flex;
    width: 20%;
    height: 300px;
}

.saveSwatch{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 100px;
}

#save{
    display: none;
}

#saveName{
    display: none;
}

#saveLine{
    display: none;
}

#outer-container {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.swatches {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}